/* cores*/
:root {
  --preto: #4b4b4b;
  --branco: #FFFFFF;
  --cinza01: #ffffff;

}

/*corpo da pagina */
body {
  background-color: var(--cinza01);
  /*Importação de fonte*/
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* container */
.container-fluid {
  padding-left: 45px;
}

.navigation-bar {
  background-color: var(--preto);
}

/* links dentro da nb */
.navigation-bar .nav-link {
  color: var(--branco);
  font-weight: 500;
  transition: color 0.3s;
}

/* remove bolinhas da lista */
.navigation-bar .navbar-nav {
  list-style: none; 
  padding-left: 0;
  margin: 0;
  display: flex; 
}