/* cores*/
:root {
  --preto: #747272;
  --branco: #FFFFFF;
  --cinza01: #ffffff;
  --vermelho01: #d67b7b;

}

/*corpo da pagina */
body {
  background-color: var(--cinza01);
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* container */
.container-fluid {
  padding-left: 45px;
}

.navigation-bar {
  background-color: var(--preto);
}

/* links dentro da nb */
.navigation-bar .nav-link {
  color: var(--branco);
  font-weight: 500;
  transition: color 0.3s;
}

/* remove bolinhas da lista */
.navigation-bar .navbar-nav {
  list-style: none; 
  padding-left: 0;
  margin: 0;
  display: flex; 
}

/* mouse passa por cima do item */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* personalização da cor de hover */
.nav-link:hover, 
.dropdown-item:hover {
  color: var(--vermelho01);
}

/* força o menu a abrir quando o mouse passa */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block !important;
}
